node_modules
temp
build
dist
.DS_Store
package.ts

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/

.cache/

*.r1cs
*.ptau
*.sym
*.tgz
!export-ton-verifier-3.0.3.tgz
*.wtns
*.zkey
*.nope

*_js
!circuits/Multiplier/Multiplier_js/
circuits/Multiplier/Multiplier_js/*
!circuits/Multiplier/Multiplier_js/Multiplier.wasm
zkTokenRegistration
!circuits/Multiplier/Multiplier_final.zkey
!circuits/Sudoku/Sudoku_final.zkey
!circuits/bls12-381-pot14-final.ptau
!circuits/Multiplier/Multiplier.r1cs
!circuits/Multiplier/Multiplier.sym
!circuits/Sudoku/Sudoku.r1cs
